<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Address Book</title>
</head>
<body>
  <h1>Contact List</h1>
  <ul>
    @foreach(var Contact in Model)
    {
      <li>@Contact.GetName()</li>
      <li>@Contact.GetEmail()</li>
      <li>@Contact.GetPhoneNumber()</li>
      <li>@Contact.GetAddress()</li>
      <li>@Contact.GetBirthDate()</li>

    }
  </ul>
  <p><a href="/contact/new">Add another contact</a></p>
  <form action="/Views/Contact/CreateForm" method="post">
    <button type="submit" name="button">Clear All Items</button>
  </form>
</body>
</html>
