<h1>Contact List</h1>
<ul>
  @foreach(var Contact in Model)
  {
    <li>@Contact.GetName()</li>
    <li>@Contact.GetEmail()</li>
    <li>@Contact.GetPhoneNumber()</li>
    <li>@Contact.GetAddress()</li>
    <li>@Contact.GetBirthDate()</li>

  }
</ul>
<p><a href="/Contact/new">Add another contact</a></p>
<form action="/Contact/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
